*.jl.*.cov
*.jl.cov
*.jl.mem
*.DS_store
.vscode
docs/build
docs/Manifest.jl
examples/sphere_losses_timings.jl
examples/sphere_losses.jl
examples/meshes/sphere_1m_finest.mphtxt
examples/writing_to_vtk.jl
examples/debug.jl
examples/debug_discontiuous.jl
examples/separable.jl
examples/lossy_big_meshes.jl
examples/hpc_big_meshes.jl
docs/Manifest.toml
src/3d/old.jl
examples/fa2023_pgfplots.jl
examples/gmsh_tests.jl
Manifest.toml
examples/tests_fmm3d.jl
examples/chebyshev_old.jl