*.jl.*.cov
*.jl.cov
*.jl.mem
*.DS_store
.vscode
Manifest.toml
docs/build
examples/sphere_losses_timings.jl
examples/sphere_losses.jl
examples/meshes/sphere_1m_finest.mphtxt
examples/writing_to_vtk.jl
examples/debug.jl
