*.jl.*.cov
*.jl.cov
*.jl.mem
*.DS_store
.vscode
docs/build
docs/Manifest.jl
examples/sphere_losses_timings.jl
examples/sphere_losses.jl
examples/meshes/sphere_1m_finest.mphtxt
examples/writing_to_vtk.jl
examples/debug.jl
docs/Manifest.toml
examples/debug_discontiuous.jl
examples/separable.jl
src/3d/old.jl